<nav>
    <div class="nav-wrapper purple">
        <div class="container">
            <a href="/dreams" class="brand-logo {{#if user}} center {{/if}}">Dreamer</a>
            {{#if user}}
            <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse show-on-large">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
            {{/if}}
            <ul id="nav-mobile" class="right">
                <li>
                    <a href="/search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Search</a>
                </li>
                {{#if user}}
                <li class="hide-on-small-only"><a href="/dashboard">Welcome {{user.firstName}}</a></li>
                <li><a href="/auth/logout">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        LogOut
                    </a>
                </li>
                {{else}}
                <li class="hide-on-small-only"><a href="/dreams">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        Dreams Feed
                    </a>
                </li>
                <li><a href="/auth/login">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Log in
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

{{#if user}}
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <a href="/dashboard"><img class="circle" src="{{user.image}}"></a>
            <a><span class="black-text  darken-2 name"> {{user.lastName}} {{user.firstName}}</span></a>
            <a><span class="black-text email">{{user.email}}</span></a>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect" href="/dashboard">Dashboard</a></li>
    <li><a class="waves-effect" href="/dreams/my">My Dreams</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="/dreams">Public Dreams</a></li>
</ul>
{{/if}}